extends layout

block content
  h1= title
  p 
    | This is the main root URL for API requests, below is the list of the various available API routes:

  pre
  code
    | Send a GET request to 
    a(href="/api/influencers") /api/influencers
    |  to retrieve the list of all influencers
    
  pre
  code
    | Send a GET request to 
    a(href="/api/influencers/0193dabd-2fcf-711b-8156-a7dbb3d27743") /api/influencers/${id}
    |  to retrieve the list of one influencer

  pre
  code
    | Send a GET request with query to 
    a(href="/api/influencers/?name=dave&manager=james") /api/influencers/?name={name}&manager=${manager}
    |  to filter by influencer name and by assigned manager

  pre
  code
    | Send a POST request with payload data to 
    a(href="/api/influencers") /api/influencers
    |  to create a new influencer

  pre
  code
    | Send a PUT request with payload data to 
    a(href="/api/influencers") /api/influencers
    |  to assign and unassign an influencer's manager

  pre
  code
    | Send a GET request to 
    a(href="/api/employees") /api/employees
    |  to retrieve the list of all employees
    
  pre
  code
    | Send a GET request to 
    a(href="/api/employees/67619d0e47cc55f89ca26dd3") /api/employees/${id}
    |  to retrieve the list of one employee